/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars
/terraform/vm1.key
/terraform/vm1.key.pub
/ansible-lab/fullchain.pem
/ansible-lab/privkey.pem
/ansible-lab/terraform.tfstate